<html>

<head>
  <title>IFTech - Order List</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="icon" type="image/x-icon" href="../../assets/images/iftech.jpg">
</head>

<body>

  <div id="nav-bar"></div>

  <main class="container my-4">

    <div id="error-message" class="alert alert-danger" role="alert" style="display: none;"></div>
    <div id="success-message" class="alert alert-success" role="alert" style="display: none;"></div>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Ordens de Serviço</h1>
      <a id="new-service-order" class="btn btn-primary">Nova Ordem de Serviço</a>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="order-list">
        <thead class="table-info">
          <tr>
            <th>Codigo</th>
            <th>Descricao</th>
            <th>Status</th>
            <th>Data de emissao</th>
            <th>Data de finalizacao</th>
            <th>Preço</th>
            <th>Metodo de pagamento</th>
            <th>Observacao</th>
            <th colspan="2" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody id="order-list-body">
          <tr id="order-row-template" class="d-none">
            <td class="order-id"></td>
            <td class="order-description"></td>
            <td class="order-status"></td>
            <td class="order-issueDate"></td>
            <td class="order-endDate"></td>
            <td class="order-price"></td>
            <td class="order-paymentMethod"></td>
            <td class="order-observation"></td>
            <td>
              <a href="#" class="btn btn-warning btn-sm edit-button btn-icon-text"><i class="fas fa-edit"></i> Editar</a>
            </td>
            <td>
              <a href="#" class="btn btn-danger btn-sm delete-button btn-icon-text"><i class="fas fa-trash-alt"></i> Excluir</a>
            </td>            
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  <div id="footer"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="../../assets/js/components/navbar.js" type="module"></script>
  <script src="../../assets/js/components/footer.js" type="module"></script>
  <script src="../../assets/js/order/service-order-list.js" type="module"></script>

</body>

</html>